@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_section {
    background-image: url("../../public/assets/h1_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    background-image: url("../../public/assets/samuel-girven-fqMu99l8sqo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    opacity: 0.2;
}
.img-programs {
    background-image: url("../../public/assets/danielle-cerullo-CQfNt66ttZM-unsplash (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0.4;
}
.img-sessions {
    background-image: url("../../public/assets/ambitious-studio-rick-barrett-g_bglWB48JA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0.4;
}
